slide31
[{"id":"30ed4993b62b68bf","type":"mqtt in","z":"200cf880.993108","name":"","topic":"nockanda/ethernet/tx","qos":"2","datatype":"auto-detect","broker":"8f4f6e74.2997a","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":160,"wires":[["29a03ba6941664af"]]},{"id":"29a03ba6941664af","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":160,"wires":[["d971c08e4ec07e9d","08e8f78a02ca87d6","d517fe7bc2d50109"]]},{"id":"d971c08e4ec07e9d","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.col1}} 'C","layout":"row-spread","className":"","x":510,"y":160,"wires":[]},{"id":"08e8f78a02ca87d6","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.col2}} %","layout":"row-spread","className":"","x":510,"y":200,"wires":[]},{"id":"d8ee48c8fc74c4f3","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":520,"y":240,"wires":[]},{"id":"d517fe7bc2d50109","type":"switch","z":"200cf880.993108","name":"","property":"payload.col3","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":260,"wires":[["57025a0623be36f8"],["8c71c4395b932e8f"]]},{"id":"57025a0623be36f8","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["d8ee48c8fc74c4f3"]]},{"id":"8c71c4395b932e8f","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["d8ee48c8fc74c4f3"]]},{"id":"2b72df5bce7f30b8","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":"4","height":"1","passthru":false,"label":"OFF버튼","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":340,"wires":[["4665ac92ba727f88"]]},{"id":"c3abb971ae72116c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":4,"width":"4","height":"1","passthru":false,"label":"ON버튼","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":380,"wires":[["4665ac92ba727f88"]]},{"id":"4665ac92ba727f88","type":"mqtt out","z":"200cf880.993108","name":"","topic":"nockanda/ethernet/rx","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"8f4f6e74.2997a","x":540,"y":360,"wires":[]},{"id":"8f4f6e74.2997a","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
