slide35
[{"id":"039f778003bf4d4b","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":350,"y":340,"wires":[["e7e9fa6255a4a15a","93e4def4ba5855d1","5a69b57bf43f1327"]]},{"id":"e7e9fa6255a4a15a","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.col1}} 'C","layout":"row-spread","className":"","x":510,"y":340,"wires":[]},{"id":"93e4def4ba5855d1","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.col2}} %","layout":"row-spread","className":"","x":510,"y":380,"wires":[]},{"id":"eff0d1c8b2a871ae","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"name":"","label":"LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":520,"y":420,"wires":[]},{"id":"5a69b57bf43f1327","type":"switch","z":"200cf880.993108","name":"","property":"payload.col3","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":440,"wires":[["f93a31d410cd6b4b"],["0937839b317f8d6e"]]},{"id":"f93a31d410cd6b4b","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":420,"wires":[["eff0d1c8b2a871ae"]]},{"id":"0937839b317f8d6e","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":460,"wires":[["eff0d1c8b2a871ae"]]},{"id":"07e03a0558636666","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":3,"width":"4","height":"1","passthru":false,"label":"OFF버튼","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":120,"wires":[["11f04fa6a99538ed"]]},{"id":"d4e090886b391369","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":4,"width":"4","height":"1","passthru":false,"label":"ON버튼","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":160,"wires":[["11f04fa6a99538ed"]]},{"id":"1702e736fa684b2c","type":"tcp in","z":"200cf880.993108","name":"","server":"client","host":"192.168.0.32","port":"60000","datamode":"stream","datatype":"utf8","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":140,"y":240,"wires":[["11f04fa6a99538ed","039f778003bf4d4b"]]},{"id":"11f04fa6a99538ed","type":"tcp out","z":"200cf880.993108","name":"","host":"192.168.0.32","port":"60000","beserver":"reply","base64":false,"end":false,"tls":"","x":530,"y":260,"wires":[]},{"id":"d191399ddec9ad8d","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":5,"width":0,"height":0,"passthru":false,"label":"서버와연결","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":200,"wires":[["11f04fa6a99538ed"]]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
