slide18
[{"id":"9b64787b54cacdd5","type":"http request","z":"200cf880.993108","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":450,"y":180,"wires":[["16ca1bc68f5da448","885897d6bf5bbce8"]]},{"id":"47efcb0a72ebd40c","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":0,"height":0,"passthru":false,"label":"현재상태확인하기","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":180,"wires":[["97fbd091cb1cfb83"]]},{"id":"16ca1bc68f5da448","type":"csv","z":"200cf880.993108","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":220,"wires":[["50fa500fc5008357","879b4fd23fdcde87","6d291494775e9ffb"]]},{"id":"50fa500fc5008357","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"온도","format":"{{msg.payload.col1}} 'C","layout":"row-spread","className":"","x":530,"y":260,"wires":[]},{"id":"879b4fd23fdcde87","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload.col2}} %","layout":"row-spread","className":"","x":530,"y":300,"wires":[]},{"id":"6985dcbe7e37ab22","type":"ui_text","z":"200cf880.993108","group":"2e91c6de.e9a80a","order":1,"width":0,"height":0,"name":"","label":"LED상태","format":"{{msg.payload}}","layout":"row-spread","className":"","x":540,"y":340,"wires":[]},{"id":"6d291494775e9ffb","type":"switch","z":"200cf880.993108","name":"","property":"payload.col3","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":320,"wires":[["aa1d0c727b7fcf72"],["8b0980552f22cf70"]]},{"id":"aa1d0c727b7fcf72","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":300,"wires":[["6985dcbe7e37ab22"]]},{"id":"8b0980552f22cf70","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":340,"wires":[["6985dcbe7e37ab22"]]},{"id":"3a917cb246b8600d","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"2","passthru":false,"label":"LED ON","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":60,"y":100,"wires":[["ce4ce68113366c4b"]]},{"id":"ad3e2a3bbeaa8cdf","type":"ui_button","z":"200cf880.993108","name":"","group":"2e91c6de.e9a80a","order":0,"width":"4","height":"2","passthru":false,"label":"LED OFF","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":60,"y":140,"wires":[["0a7706c1282e16b2"]]},{"id":"97fbd091cb1cfb83","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"192.168.0.32","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":180,"wires":[["9b64787b54cacdd5"]]},{"id":"ce4ce68113366c4b","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"192.168.0.32/led=1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":100,"wires":[["9b64787b54cacdd5"]]},{"id":"0a7706c1282e16b2","type":"change","z":"200cf880.993108","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"192.168.0.32/led=0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":140,"wires":[["9b64787b54cacdd5"]]},{"id":"885897d6bf5bbce8","type":"debug","z":"200cf880.993108","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":120,"wires":[]},{"id":"2e91c6de.e9a80a","type":"ui_group","name":"Group 1","tab":"a8c3dc2a.d66a8","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"a8c3dc2a.d66a8","type":"ui_tab","name":"노드1번","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
